    <div class="nav-sitename">
    
         <%= image_tag "Logo_RIVA DIFFUSION-01.png", class: "avatar-name" %>
     
      
  
         <a href="#">Search</a>
         <a href="#">Search</a>
         <a href="#">Contact</a>
         <a href="#">Login</a>


       <%= image_tag "tetocarre.jpeg", class: "avatar_nav" %>

   

   </div>
   
